%a#resume{:href => "spa103", :title => "Perfil Personal"} Perfil Personal
<br>
%a#resume{:href => "cancion", :title => "Canci贸n Memorable"} Canci贸n Memorable
<br>
%a#resume{:href => "fragmentos", :title => "Fragmentos Culturales"} Fragmentos Culturales
<br>
%a#resume{:href => "evento", :title => "Evento Cultural"} Evento Cultural
<br>
%a#resume{:href => "evaluation", :title => "Autoevaluaci贸n"} Autoevaluaci贸n