%body
  .container
    = render "links"
    %iframe{:width => "100%", :height => "315", :src => "https://www.youtube.com/embed/Rfk470vWnxs", :frameborder => "0"}
    %p
      Mi canción favorita es "Obesesion" de Frankie J. La primera vez que oí esta canción cuando estaba explorando español RnB. La versión en Inglés de esta canción incluye Baby Bash, un rapero que es famoso por su canción "Cyclone." Me gusta esta canción mucho, así que cuando escuché que él tenía otra canción estaba muy entusiasmado. Yo estaba tomando la clase de español en la escuela pues quería escuchar la versión en español.
    %p<
      Ahora voy a explicar algunas de las letras. (Las letras son de
      #{link_to " genius.com", "http://genius.com/Frankie-j-obsession-no-es-amor-spanish-version-lyrics"})
    %p
      Yo no he dormido nada <br>
      Y ya es de madrugada <br>
      No mas pensando en como voy hacer te mi mujer
    %p
      Frankie J no he dormido nada y estaba pensando solamente sobre una mujer. Él quiere hacerla su novia.
    %p
      Tu beso me enlóquese <br>
      Y no entiendo como crece <br>
      Este amor profundamente no lo puedo sostener
    %p
      El amor dentro de Frankie J es tan grande que no puede entender cómo existe.
    %p
      Son las cinco de la mañana <br>
      Y yo no puedo dormir <br>
      No mas pensando en como estar junto a ti <br>
      Me siento inútil sin ti <br>
      No se que voy hacer si no estas aquí
    %p
      Él no puede dormir porque no puede dejar de pensar en ella.
    %p
      Amor, no es amor <br>
      (Si no es amor) es una ilusión tan llena de dolor <br>
      Amor, no es amor <br>
      (Si no es amor) es una obsesión dentro mi corazón
    %p
      El amor es tan grande que es más de una obsesión.
    %p
      Se que no me perteneces <br>
      Se que tienes alguien mas <br>
      Pero se que no lo quieres por tu forma de hablar
    %p
      La mujer tiene un novio que no está Frankie, pero él piensa que ella lo quiere.
    %p
      / In this page, you should include information about a song in Spanish that you find interesting. You should include a short text (250-350 words) in which you explain why you chose this song. You may accompany your text with pictures, links, lyrics, etc. Make sure that you cite your sources appropriately (e.g. links to webpages, pictures, etc.).
