%body
  .container
    = render "links"
    %p
      1. How does this Spanish class compare to other Spanish classes you have taken?
    %p
      I can't remember most of the Spanish classes I have taken as the last class I took was over 5 years ago in high school. I do know that I didn't enjoy Spanish that much before college. I liked the content of this class and the pace compared to the classes I've taken in the past.
    %p
      2. What have you learned about Hispanic culture in this class?
    %p
      I learned the most about Hispanic culture from preparing my oral presentation on Hispanic food. I learned a lot about BBQ.
    %p
      3. Out of all of the mini projects, which one did you learn the most from? Why?
    %p
      I think I learned the most from the compositions, but if I had to pick one mini mini proyecto it would be the one where we talk about our day in the Powerpoint presentation. I think a mini proyecto that balances both speaking and writing helps me learn the most.
    %p
      4. What learning strategies did you employ throughout the semester to help you succeed in this class? These strategies can be related to how you studied for tests (e.g., learning grammar, vocabulary, class content), completed Aprendo assignments, compositions, mini proyectos, etc. Will you implement or modify any of these learning strategies in your next Spanish class?
    %p
      Going through Aprendo and learning the voacb is what I mainly did. I remembered a lof of the stuff I've learned in the past as the semester went on which made learning the material a bit easier.
    %p
      5. Based on your performance throughout the semester and on everything that you have experienced in this course  (e.g. in-class activities, homework, etc.), how much has your Spanish improved? Is there anything you will do differently in the future to improve your Spanish even more?
    %p
      My Spanish definitely improved a lot from the beginning of the semester. I'll have to put in more practice in the future such as speaking more Spanish outside of class.

