%body
  .container
    = render "links"
    %p
      Vi uno de mis fragmentos culturales en vivo. El rapero Arkano estaba tratando de romper el récord mundial para el freestyle rap más largo en el 28 de octubre. Red Bull transmiitió el rap en vivo y yo vi para una hora. Aunque no entendía mucho durante el transmisión, podría decir que él suena natural. Unos días después de que el rompió el récord mundial, vi un video que recalcaba algunas de sus mejores rimas.
    %iframe{:width => "100%", :height => "315", :src => "https://www.youtube.com/embed/Jb-TCOOyPSQ", :frameborder => "0"}
    %p
      Aquí hay algunas de mis interpretaciones de sus rimas.
    %p<
      Cuándo llegó a las 24 horas, (creo que) él dice "#{link_to "Ahora estamos rapeando ya todo mundo quiere más hace nos historia todo al mundo asenta.", "https://youtu.be/Jb-TCOOyPSQ?t=453"}".
    %p
      Su suena natural es muy impresionante. Su esquema de rima utiliza sílabas múltiples de cada palabra—"esta, rapea, ya, más, etc." y las enunciaciones de las palabras están equilibradas. Él está celebrando las 24 horas.
    %p<
      Arkano muestra su talenta lírica rápida #{link_to "aquí", "https://youtu.be/Jb-TCOOyPSQ?t=358"}. No entiendo lo que dice, y eso es irónico porque creo que él dice algo que nosotros no entendemos lo que está diciendo.
    %p
      En general, me gustó mucho este evento y estaré explorando más rap español en el futuro.