%body
  .container
    = render "links"
    %p
      Una de mis comidas favoritas es la salteña. Cuando vivía en California, había una tienda de donuts cerca de mi casa. Estaba propiedad de una mujer boliviana. Hizo salteñas a las 5 de la mañana todos los días y iba allí varias veces de la semana. Aquí hay dos videos sobre cómo hacerlas.
    %iframe{:width => "100%", :height => "315", :src => "https://www.youtube.com/embed/5w3wNTXi_KM", :frameborder => "0"}
    %iframe{:width => "100%", :height => "315", :src => "https://www.youtube.com/embed/4e0gUC58IG8", :frameborder => "0"}
    %p
      Soy un seguidor de Enrique Iglesias. Fue el primero artista español que escuché. Una de mis canciones favoritas es "Dímelo." Escucha aquí.
    %iframe{:width => "100%", :height => "315", :src => "https://www.youtube.com/embed/L0QtC11fI3o", :frameborder => "0"}
    %p
      La semana pasada he visto varias horas de una transmisión en vivo. En la transmisión en vivo estaba un rapero llamado Arkano que estaba tratando de establecer el récord mundial para la rap más larga. ¡Fue muy impresionante!
    %iframe{:width => "100%", :height => "315", :src => "https://www.youtube.com/embed/a5v9rviHNSQ", :frameborder => "0"}
    %p
      Me gusta leer cómics, y encontré una cómica que llamada "Madalfa". Es similar a "Calvin y Hobbes" y me gusta mucho.
    %img.spanish-wrapper{:src => "http://4.bp.blogspot.com/_2TT5MNDJSDg/TPMAukNxFKI/AAAAAAAAAhw/ohEpcEviEH8/s1600/ma11.gif"}
    %p
      ¡También encontré que Garfield está publicado en español!
    %img.spanish-wrapper{:src => "http://assets.amuniversal.com/33c1a4e05f80012ee3c100163e41dd5b"}