%body
  %p.container
    %img.image-wrapper{:src => "assets/headshot.jpg"}
    Andrew Ng
    %br
    Co-founder and CEO of
    %a{:href => "http://www.chesscademy.com", :target => "_blank"} Chesscademy
    %br
    Entrepreneur, developer, and chess player
  .social-links
    %img{"src" => "/assets/facebook.png", "width" => "40px"}
    %img{"src" => "/assets/twitter.png", "width" => "40px"}
    %img{"src" => "/assets/linkedin.png", "width" => "40px"}
    %img{"src" => "/assets/github.png", "width" => "40px"}
  %p Resume
