%body
  .container
    %img.image-wrapper{:src => "assets/headshot.jpg"}
    %p
      Hello, I'm Andrew. Entrepreneur, developer, and chess player. Co-founder and CEO of
      %a{:href => "http://www.chesscademy.com", :target => "_blank"} Chesscademy
  .social-links
    %img#socialtwitter{"src" => "/assets/facebook.png", "height" => "30px"}
    %img#socialfacebook{"src" => "/assets/twitter.png", "height" => "30px"}
    %img#sociallinkedin{"src" => "/assets/linkedin.png", "height" => "30px"}
    %img#socialgithub{"src" => "/assets/github.png", "height" => "30px"}
    %img#socialemail{"src" => "/assets/email.png", "height" => "30px"}
  %p Resume
