%body
  .container
    = render "links"
    %p
      ¡Hola! Me llamo Andrés. Tengo 22 años (¡hoy [el 7 de noviembre] es mi cumpleaños!) y vivo en Princeton, Nueva Jersey. Soy un estudiante de tercero año de la universidad y estudio la economía y la informática. Estoy interesado en el aprendizaje automático y sus aplicaciones a la educación. Cuando era un estudiante de segundo año de la universidad, tuve dos años sabáticos para trabajé en una nueva empresa. Viví para 6 meses en Nueva York y 1.5 años en Palo Alto, California. Fue muy divertido y aprendí mucho. Esta es una foto donde presenté mi empresa.
    %img.spanish-wrapper{:src => "assets/pitch.jpg"}
    %p
      Una parte muy importante de mi vida es mi familia. Mi papá, mi mamá, mi hermana, y yo son íntimos. Mis padres trabajan para HP. Mi papá es un vendedor y mi mamá es un ingeniero de software. Mi hermana es una estudiante de derecho en la Universidad de Chicago. Aquí hay un foto de mi familia.
    %img.spanish-wrapper{:src => "assets/family.jpg"}
    %p
      Finalmente, aquí hay algunos datos curiosos sobre mí:
      %ul
        %li
          Mi color favorito es azul.
        %li
          Mi comida favorita es sushi.
        %li
          Una vez tuve un cumpleaños de 25 horas.
        %li
          No sé montar en bicicleta.